.main {
  display: flex;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80vh;
  font-family: 'Bebas Neue';
  font-size: 9vw;
  color: white;
}

.details {
  width: 50%;
  height: 80vh;
  color: white;
  padding-right: 7.5vw;
}

.content-limiter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 85%;
  overflow: hidden;
}

.content-slider {
  border-radius: 1vw;
  background-color: rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7.5%;
  color: black;
  font-size: 4vw;
}

.content-slider:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.prev {
  transform: translateY(200%);
  opacity: 0;
}

.slide {
  position: absolute;
  width: 100%;
  transition: transform 0.75s, opacity 0.5s;
}

.slide span {
  color: orangered;
}

.next {
  transform: translateY(-200%);
  opacity: 0;
}

.details h3 {
  font-family: 'Bebas Neue';
  font-size: 4vw;
  letter-spacing: 0.5vw;
  line-height: 4vw;
  margin-bottom: 1vw;
}

.details p {
  font-family: 'Roboto Condensed';
  font-size: 1.625vw;
  color: black;
  text-align: justify;
  margin-bottom: 0.5vw;
}

.indent {
  text-indent: 2vw;
}

.list {
  width: 100%;
  font-family: 'Bebas Neue';
  font-size: 2vw;
}

.list h4{
  letter-spacing: 0.15vw;
}

.list p {
  font-family: 'Roboto Condensed';
}

.list li {
  margin-bottom: 1vw;
  margin-left: 3vw;
}

.icon-text {
  width: 55%;
  display: flex;
  align-items: center;
}

.icons {
  margin-top: 5vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.icon {
  font-size: 3vw;
}

.icons .icon {
  color: white;
  font-size: 4vw;
  transition: transform 0.1s;
}

.icons .icon:hover {
  transform: scale(1.2);
}

.slide:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (orientation: portrait) {
  .main {
    flex-direction: column;
  }
  
  .title {
    width: 80vw;
    height: 40vh;
    font-size: 9vh;
    transition: height 1s, font-size 1s;
  }
  
  .details {
    width: 80vw;
    height: 60vh;
    padding-right: 0;
    padding-bottom: 7.5vh;
    transition: height 1s;
  }

  .title-active {
    height: 25vh;
    font-size: 7vh;
  }

  .title-active h2 {
    margin-top: 2.5vh;
  }

  .details-active {
    height: 75vh;
  }

  .details h3 {
    font-size: 4vh;
    letter-spacing: 0.5vh;
    line-height: 4vh;
    margin-bottom: 1vh;
    transition: font-size 1s;
  }
  
  .details p {
    font-size: 2vh;
    margin-bottom: 1vh;
    transition: font-size 1s;
  }

  .content-limiter {
    height: 80%;
  }

  .content-slider {
    height: 10%;
    border-radius: 1vh;
    font-size: 4vh;
  }

  .indent {
    text-indent: 2vh;
  }
  
  .list {
    font-size: 3vh;
  }

  .list h4{
    letter-spacing: 0.15vh;
  }

  .list li {
    margin-bottom: 1vh;
    margin-left: 3vh;
  }

  .icon-text {
    width: 75%;
  }

  .icon-text .icon {
    margin-right: 1vh;
  }

  .icons {
    margin-top: 5vh;
  }

  .icon {
    font-size: 3vh;
  }

  .icons .icon {
    font-size: 4vh;
  }
}