.main {
  display: flex;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80vh;
  font-family: 'Bebas Neue';
  font-size: 9vw;
  color: white;
}

.details {
  width: 50%;
  height: 80vh;
  color: white;
  padding-right: 7.5vw;
}

.content-limiter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 85%;
  overflow: hidden;
}

.content-slider {
  border-radius: 1vw;
  background-color: rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7.5%;
  color: black;
  font-size: 4vw;
}

.content-slider:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.prev {
  transform: translateY(200%);
  opacity: 0;
}

.slide {
  position: absolute;
  transition: transform 1s, opacity 1s;
}

.slide span {
  color: orangered;
}

.next {
  transform: translateY(-200%);
  opacity: 0;
}

.details h3 {
  font-family: 'Bebas Neue';
  font-size: 4vw;
  letter-spacing: 0.5vw;
  line-height: 4vw;
  margin-bottom: 1vw;
}

.details p {
  font-family: 'Roboto Condensed';
  font-size: 1.625vw;
  color: black;
  text-align: justify;
  margin-bottom: 0.5vw;
}

.indent {
  text-indent: 2vw;
}

@media (orientation: portrait) {
  .main {
    flex-direction: column;
  }
  
  .title {
    width: 80vw;
    height: 45vh;
    font-size: 9vh;
    transition: height 1s, font-size 1s;
  }
  
  .details {
    width: 80vw;
    height: 55vh;
    padding-right: 0;
    padding-bottom: 7.5vh;
    transition: height 1s;
  }

  .title-active {
    height: 25vh;
    font-size: 7vh;
  }

  .title-active h2 {
    margin-top: 2.5vh;
  }

  .details-active {
    height: 75vh;
  }

  .details-active h3{
    font-size: 4vh !important;
  }

  .details-active p{
    font-size: 2vh !important;
  }

  .details h3 {
    font-size: 3vh;
    letter-spacing: 0.5vh;
    line-height: 4vh;
    margin-bottom: 1vh;
    transition: font-size 1s;
  }
  
  .details p {
    font-size: 1.75vh;
    margin-bottom: 1vh;
    transition: font-size 1s;
  }

  .content-limiter {
    height: 80%;
  }

  .content-slider {
    height: 10%;
    border-radius: 1vh;
    font-size: 4vh;
  }

  .indent {
    text-indent: 2vh;
  }
}