.main {
  display: flex;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80vh;
  font-family: 'Bebas Neue';
  font-size: 8vw;
  color: white;
}

.title h2 {
  line-height: 10vw;
}

.details {
  width: 50%;
  height: 80vh;
  color: white;
  padding-right: 7.5vw;
}

.details h3 {
  font-family: 'Bebas Neue';
  font-size: 4vw;
  letter-spacing: 0.5vw;
  line-height: 4vw;
  margin-bottom: 0.5vw;
}

.details p {
  font-family: 'Roboto Condensed';
  font-size: 1.625vw;
  color: black;
  text-align: justify;
  margin-bottom: 3vw;
}

.content-limiter {
  width: 100%;
  height: 100%;
  padding-right: 1vw;
  overflow-y: scroll;
}

.content-limiter::-webkit-scrollbar {
  display: block;
  width: 0.5vw;
}

.content-limiter::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 0.25vw;
}

.content-limiter::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 0.25vw;
}

.content-limiter::-webkit-scrollbar-corner {
  display: none;
}

.details-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.icons {
  display: grid;
  gap: 1vw 1vw;
  grid-template: 
  [row1-start] "icon icon icon icon" 1fr[row1-start]
  [row2-start]"icon icon icon icon" 1fr[row2-start];
  justify-content: center;
  font-size: 4vw;
}

.icons-2 {
  display: grid;
  gap: 1vw;
  grid-template: 
  [row1-start] "icon icon icon" 1fr[row1-start];
  justify-content: center;
  font-size: 4vw;
}

@media (orientation: portrait) {
  .main {
    flex-direction: column;
  }
  
  .title {
    width: 80vw;
    height: 45vh;
    font-size: 6vh;
  }

  .title h2 {
    line-height: 10vh;
  }
  
  .details {
    width: 80vw;
    height: 55vh;
    padding-right: 0;
    padding-bottom: 7.5vh;
  }

  .details h3 {
    font-size: 4vh;
    letter-spacing: 0.5vh;
    line-height: 4vh;
    margin-bottom: 0.5vh;
  }
  
  .details p {
    font-size: 2vh;
    margin-bottom: 3vh;
  }
  
  .content-limiter {
    padding-right: 1vh;
  }
  
  .content-limiter::-webkit-scrollbar {
    width: 0.5vh;
  }
  
  .content-limiter::-webkit-scrollbar-thumb {
    border-radius: 0.25vh;
  }
  
  .content-limiter::-webkit-scrollbar-track {
    border-radius: 0.25vh;
  }
  
  .icons {
    gap: 1vh 1vh;
    font-size: 4vh;
  }
  
  .icons-2 {
    gap: 1vh;
    font-size: 4vh;
  }
}