.main {
  display: flex;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80vh;
  font-family: 'Bebas Neue';
  font-size: 8vw;
  color: white;
}

.details {
  width: 50%;
  height: 80vh;
  color: white;
  padding-right: 7.5vw;
  overflow-y: scroll;
  overscroll-behavior-y: none;
}

.details h3 {
  font-family: 'Bebas Neue';
  font-size: 4vw;
  letter-spacing: 0.5vw;
  line-height: 4vw;
  margin-bottom: 2.5vw;
}

.details p {
  font-family: 'Roboto Condensed';
  font-size: 1.625vw;
  color: white;
  text-align: justify;
}

.list {
  width: 100%;
  font-family: 'Bebas Neue';
  font-size: 2vw;
}

.list h4{
  letter-spacing: 0.15vw;
}

.list p {
  font-family: 'Roboto Condensed';
}

.brief {
  margin-top: 2vw;
}

.list li {
  margin-bottom: 1vw;
  margin-left: 3vw;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.icon {
  display: flex;
}

.icon:hover {
  transform: scale(1.2);
  transition: transform 0.25s;
}

.icon:focus {
  transform: scale(1.2);
  transition: transform 0.25s;
}

.icon-name {
  position: relative;
  bottom: -10%;
  font-family: 'Bebas Neue' !important;
  font-size: 2.5vw !important;
}

.icons {
  display: grid;
  gap: 2vw 5vw;
  grid-template: 
  [row1-start] "icon icon icon icon" 1fr[row1-start]
  [row2-start] "icon icon icon icon" 1fr[row2-start];
  justify-content: center;
  font-size: 4vw;
}

.icons-2 {
  display: grid;
  gap: 2vw 5vw;
  grid-template: 
  [row1-start] "icon icon icon" 1fr[row1-start];
  justify-content: center;
  font-size: 4vw;
}

.blink {
  animation: blink 3s ease-in-out infinite;
}

@media (orientation: portrait) {
  .main {
    flex-direction: column;
  }
  
  .title {
    width: 80vw;
    height: 45vh;
    font-size: 6vh;
    transition: height 1s;
  }

  .title-scroll {
    height: 25vh;
    border-bottom: 1px solid white;
  }

  .title-scroll h2{
    font-size: 5vh !important;
  }

  .title h2 {
    transition: font-size 1s;
  }
  
  .details {
    width: 80vw;
    height: 47.5vh;
    padding-right: 0;
  }

  .details-scroll  {
    height: 67.5vh;
  }

  .details h3 {
    font-size: 4vh;
    letter-spacing: 0.5vh;
    line-height: 4vh;
    margin-bottom: 2.5vh;
  }
  
  .details p {
    font-size: 2vh;
  }
  
  .icons {
    gap: 2vh 5vh;
    font-size: 4vh;
  }
  
  .icons-2 {
    gap: 2vh 5vh;
    font-size: 4vh;
  }
  
  .section:first-of-type {
    justify-content: start;
  }
  
  .icon-name {
    font-size: 2.5vh !important;
  }

  .list {
    font-size: 2.5vh;
  }
  
  .brief {
    margin-top: 2vh;
  }
  
  .list li {
    margin-bottom: 1vh;
    margin-left: 3vh;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}