.main {
  display: flex;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 80vh;
}

.title h2{
  display: flex;
  font-family: 'Varela Round';
  font-size: 7vw;
  color: red;
}

.title span{
  font-family: 'Arial';
  color: black;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: red;
  aspect-ratio: 1/1;
  border-radius: 50%;
  font-size: 8vw;
}

.details {
  width: 47.5vw;
  height: 80vh;
  color: white;
  overflow-y: scroll;
  overscroll-behavior-y: none;
}

.details h3 {
  font-family: 'Bebas Neue';
  font-size: 4vw;
  letter-spacing: 0.5vw;
  line-height: 4vw;
  margin-bottom: 2.5vw;
}

.details p {
  font-family: 'Roboto Condensed';
  font-size: 1.625vw;
  color: white;
  text-align: justify;
}

.details video {
  border-radius: 1vw;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.section:nth-last-child(2) {
  justify-content: end;
  height: 25%;
}

.weblink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Condensed';
  font-size: 2vw;
  text-decoration: none;
  background-color: black;
  color: white;
  width: 15vw;
  height: 5vw;
  border-radius: 1vw;
  margin-top: 2vw;
}

.weblink:hover {
  background-color: white;
  color: black;
}

.link {
  color: white;
}

.link:hover {
  color: black;
}

@media (orientation: portrait) {
  .main {
    flex-direction: column;
  }
  
  .title {
    width: 80vw;
    height: 40vh;
    padding-top: 5vh;
    transition: height 1s;
  }

  .title-scroll {
    height: 25vh;
    border-bottom: 1px solid white;
  }

  .title-scroll h2{
    font-size: 5vh !important;
  }

  .title h2{
    font-size: 7vh;
    transition: font-size 1s;
  }

  .icon-container {
    font-size: 8vh;
  }
  
  .details {
    width: 80vw;
    height: 52.5vh;
  }
  
  .details-scroll  {
    height: 67.5vh;
  }

  .details h3 {
    font-size: 4vh;
    letter-spacing: 0.5vh;
    line-height: 4vh;
    margin-bottom: 2vh;
  }
  
  .details p {
    font-size: 2vh;
  }

  .details video {
    border-radius: 1vh;
  }
  
  .section:first-of-type {
    justify-content: start;
  }

  .section:nth-last-child(2) {
    justify-content: start;
    height: 40%;
  }

  .weblink {
    margin-top: 5vh;
    font-size: 2.5vh;
    width: 15vh;
    height: 5vh;
    border-radius: 1vh;
  }
}