.signal {
  width: 44vw;
  position: absolute;
  aspect-ratio: 1/1;
  border-radius: 50%;
  outline: 1px solid black;
  transition: width 1s, opacity 1s;
}

.signal-hide {
  position: absolute;
  width: 5vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  opacity: 0;
  transition: width 1s, opacity 1s;
}

.signal-1 {
  animation: signal 3s linear infinite;
}

.signal-2 {
  animation: signal 3s linear 1s infinite;
}

.signal-3 {
  animation: signal 3s linear 2s infinite;
}

.help {
  position: absolute;
  top: 2.5vw;
  right: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 5vw;
  aspect-ratio: 1/1;
  background-color: black;
  transition: all 1s, outline 0.5s;
}

.help-focus {
  position: absolute;
  top: calc(50vh - 22vw);
  right: calc(50vw - 22vw);
  border-radius: 50%;
  width: 44vw;
  aspect-ratio: 1/1;
  transition: all 1s;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
}

.help:hover {
  cursor: pointer;
  outline: 0.5vw solid lightgray;
  transition: all 1s, outline 0.5s;
}

.disable {
  display: none;
}

.h2 {
  font-family: 'Bebas Neue';
  font-size: 2vw;
  color: white;
  transition: transform 0.5s;
}

.help:hover h2 {
  transform: scale(1.5);
}

.close {
  position: absolute;
  color: black;
  top: 2vw;
  right: 2vw;
  font-size: 3vw;
}

.close:hover {
  cursor: pointer;
  color: lightgray;
}

.section {
  position: absolute;
  top: 15%;
  font-family: 'Bebas Neue';
  width: 60%;
  transition: opacity 0.3s ease-out;
  transition-delay: 1s;
}

.section-off {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.section h2 {
  text-align: center;
  font-size: 3vw;
}

.section p {
  text-align: center;
  font-size: 2vw;
  margin-bottom: 2vw;
}

.section li {
  font-family: 'Roboto Condensed';
  font-size: 1.5vw;
  color: black;
  text-align: justify;
  margin-bottom: 1vw;
}

.section span {
  color: #8a8888;
  font-style: italic;
}

@media (orientation: portrait) {
  .signal {
    width: 44vh;
  }
  
  .signal-hide {
    width: 5vh;
  }
  .help {
    top: 2.5vh;
    right: 2.5vh;
    width: 5vh;
  }
  
  .help-focus {
    top: calc(50vh - 22vh);
    right: calc(50vw - 22vh);
    width: 44vh;
  }
  
  .help:hover {
    outline: 0.5vh solid lightgray;
  }
  
  .h2 {
    font-size: 2vh;
  }

  .close {
    top: 2vh;
    right: 2vh;
    font-size: 3vh;
  }

  .section h2 {
    font-size: 3vh;
  }
  
  .section p {
    font-size: 2vh;
    margin-bottom: 2vh;
  }
  
  .section li {
    font-size: 1.5vh;
    margin-bottom: 1vh;
  }
}

/*Animation*/
@keyframes signal {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  25%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}