.preview {
  transition: opacity 1s;
  transition-delay: 1.5s;
}

.hidden {
  opacity: 0;
}

.heading {
  font-family: 'Bebas Neue';
}

.body {
  font-family: 'Flow Circular';
  text-align: justify;
  text-align-last: left;
  transition: font-family 2s;
  transition-delay: 2s;
}