.preview {
  position: absolute;
  width: 40vw;
  transition: opacity 1s, transform 2s;
}

.hidden {
  opacity: 0;
  transform: translateX(150vw);
  transition: opacity 1s, transform 2s;
}

.heading {
  display: block;
  font-family: 'Bebas Neue';
  font-size: 4vw;
  margin-bottom: 1vw;
}

.body {
  font-family: 'Roboto Condensed';
  font-size: 2vw;
  text-align: justify;
  text-align-last: left;
  transition: opacity 1s;
  transition-delay: 2s;
  overflow: hidden;
}

.hidden-body {
  opacity: 0;
}

.close {
  position: absolute;
  top: 0;
  right: -1vw;
  font-size: 3vw;
}

.close:hover {
  cursor: pointer;
  color: lightgray;
}

@media (orientation: portrait) {
  .preview {
    width: 35vh;
  }
  .hidden {
    transform: translateY(150vh);
  }
  .close {
    top: -2vh;
    right: -1vh;
    font-size: 3vh;
  }
  .heading {
    font-size: 4vh;
    margin-bottom: 1vh;
  }
  .body {
    font-size: 2vh;
  }
}