.preview {
  position: absolute;
  width: 25vw;
  transition: opacity 1s, transform 2s;
}

.hidden {
  opacity: 0;
  transform: translateX(150vw);
  transition: opacity 1s, transform 2s;
}

.heading {
  display: block;
  font-family: 'Bebas Neue';
}

.body {
  font-family: 'Flow Circular';
  text-align: justify;
  text-align-last: left;
  transition: opacity 1s;
  transition-delay: 2s;
  overflow: hidden;
}

.hidden-body {
  opacity: 0;
}

@media (orientation: portrait) {
  .preview {
    width: 25vh;
  }
  .hidden {
    transform: translateY(150vh);
  }
}