.orbit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  aspect-ratio: 1/1;
  outline: 1px solid lightgray;
  border-radius: 50%;
  position: absolute;
  bottom: -4vw;
  animation: revolve 15s linear infinite;
}

.orbit-hover {
  outline: 2px solid #F06543;
}

.pause {
  animation-play-state: paused;
}

.experience{
  display: flex;
  background-color: #F06543;
  width: 3vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transform: translateX(4vw);
  position: absolute;
  z-index: 1;
  transition: transform 1s, width 1s;
}

.experience-focus {
  position: absolute;
  transform: translateX(0);
  width: 7vw;
  z-index: 1;
  transition: transform 1s, width 1s;
  animation: blink 1.5s ease-in-out infinite;
}

.experience-view {
  position: absolute;
  width: 150vw;
  transform: translateX(0);
  transition: transform 1s, width 1s;
  z-index: 3;
}

.experience:hover {
  cursor: pointer;
}

/*Responsive*/
@media (orientation: portrait) {
  .orbit {
    width: 8vh;
    bottom: -4vh;
  }
  .experience {
    width: 3vh;
    transform: translateX(4vh);
  }
  .experience-focus {
    width: 7vh;
    transform: translateX(0);
  }
  
  .experience-view {
    width: 150vh;
  }
}

/*Animation*/
@keyframes revolve{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(-360deg);
  }
}

@keyframes blink {
  0% {
    background-color: #F06543;
  }
  50% {
    background-color: #ffc0b0;
  }
  100% {
    background-color: #F06543;
  }
}